<html>
  <head></head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type='submit' value='Guess!' />
    </form>
    <p><%= message %></p>
    <% if message == "You got it right!"%>
      <p>The SECRET NUMBER is <%= random_number %></p>
    <%end%>
  </body>
</html>