<html>
  <head>
    <style>
      body {
        <% if message == "Way too low!" || message == "Way too high!" %>
          background: red;
        <% elsif message == "Too low!" || message == "Too high!" %>
          background: #d85f75;
        <% else %>
          background: green;
        <% end %>
      }
    </style>
  </head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type='submit' value='Guess!' />
    </form>
    <p><%= message %></p>
    <% if message == "You got it right!" %>
      <p>A new random number has been generated.</p>
    <% end %>
    <p>Remaining guesses: <%= remaining_guesses %></p>
    <% if cheat == 'true' %>
      <p>The SECRET NUMBER is <%= random_number %></p>
    <% end %>
  </body>
</html>